<div class="banner text-center">
    <div class="container">
        <div class="banner-info">
            <h1>Самая лучшая компания в мире</h1>
            <p>Через терни к звёздам.<br>
                Ваше счастье наша забота</p>
            {#<label class="page-scroll"><a class="banner-btn class scroll" href="#feature"><i#}
                            {#class="fa fa-angle-double-down fa-4x"></i></a></label>#}
        </div>
    </div>
</div>