{% block content %}

    <div class="main">
        <div class="content_white">
            <h2>Добро пожаловать на наш сайт!</h2>
            <p>Мы предоставляем самые качественные и лучшие услуги на рынке Украины.</p>
        </div>
        <div class="featured_content" id="feature">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-3 feature_grid1"><i class="fa fa-cloud-download fa-3x"></i>
                        <h3 class="m_1"><a href="#">Новости партнёров</a></h3>
                        <p class="m_2">Для получения большей информации пройдите по ссылке</p>
                        <a href="#" class="feature_btn">Больше</a></div>
                    <div class="col-md-3 feature_grid1"><i class="fa fa-shield fa-3x"></i>
                        <h3 class="m_1"><a href="#">Забота о детях</a></h3>
                        <p class="m_2">Для получения большей информации пройдите по ссылке</p>
                        <a href="#" class="feature_btn">Больше</a></div>
                    <div class="col-md-3 feature_grid1"><i class="fa fa-flask fa-3x"></i>
                        <h3 class="m_1"><a href="#">Наши вакансии</a></h3>
                        <p class="m_2">Для получения большей информации пройдите по ссылке</p>
                        <a href="#" class="feature_btn">Больше</a></div>
                    <div class="col-md-3 feature_grid2"><i class="fa fa-bar-chart fa-3x"></i>
                        <h3 class="m_1"><a href="#">Руководство компании</a></h3>
                        <p class="m_2">Для получения большей информации пройдите по ссылке</p>
                        <a href="#" class="feature_btn">Больше</a></div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="content_white">
                <h2>Новейшие технологии нашей компании</h2>
                <p>Нанотехнологии</p>
            </div>
            <div class="testimonial">
                <div class="row testimonial_top">
                    <div class="col-md-6">
                        <ul class="test_box">
                            <li class="test_img"><img src="{{ asset('theme/images/pic1.jpg') }}" class="img-responsive"
                                                      alt=""/></li>
                            <li class="test_desc">
                                <h4><a href="#">Внедрение новых технологий</a></h4>
                                <p>*******************Описание***********************</p>
                            </li>
                            <div class="clearfix"></div>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="test_box">
                            <li class="test_img"><img src="{{ asset('theme/images/pic2.jpg') }}" class="img-responsive"
                                                      alt=""/></li>
                            <li class="test_desc">
                                <h4><a href="#">Забота об окружающей среде</a></h4>
                                <p>*******************Описание***********************</p>
                            </li>
                            <div class="clearfix"></div>
                        </ul>
                    </div>
                </div>
                <div class="row testimonial_bottom">
                    <div class="col-md-6">
                        <ul class="test_box">
                            <li class="test_img"><img src="{{ asset('theme/images/pic3.jpg') }}" class="img-responsive"
                                                      alt=""/></li>
                            <li class="test_desc">
                                <h4><a href="#">Инновации</a></h4>
                                <p>*******************Описание***********************</p>
                            </li>
                            <div class="clearfix"></div>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="test_box">
                            <li class="test_img"><img src="{{ asset('theme/images/pic4.jpg') }}" class="img-responsive"
                                                      alt=""/></li>
                            <li class="test_desc">
                                <h4><a href="#">Переработка вторичного сырья</a></h4>
                                <p>*******************Описание***********************</p>
                            </li>
                            <div class="clearfix"></div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
