<!DOCTYPE HTML>
<html>
<head>
    <title>"Nova"</title>

    {% include '@Site/layouts/partials/head.htp.twig' %}
</head>
<body>

{% include '@Site/layouts/partials/header.http.twig' %}

<div class="about">
    <div class="container">
        <section class="title-section">
            {#<h1 class="title-header">{{ $longtitle }}</h1>#}
        </section>
    </div>
</div>


{% block content %} {% endblock %}

{% block dashboard %} {% endblock %}

{% include '@Site/layouts/partials/footer.http.twig' %}

{% include '@Site/layouts/partials/scripts.http.twig' %}
</body>
</html>
