{% extends 'SiteBundle:layouts:services.http.twig' %}

{% block content %}
    <div class="contact">
        <div class="container">
            <div class="row contact_top">
                <div class="col-md-4 contact_details">
                    <h5>Адресс</h5>
                    <div class="contact_address">Украина, г Киев, Майдан Независимоти</div>
                </div>
                <div class="col-md-4 contact_details">
                    <h5>Телефон</h5>
                    <div class="contact_address"> 044 222 34 55<br>
                    </div>
                </div>
                <div class="col-md-4 contact_details">
                    <h5>Email</h5>
                    <div class="contact_mail"> info@companyname.com</div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block dashboard %}{% endblock %}


