{% extends 'SiteBundle:layouts:services.http.twig' %}


{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-4 service_box"><i class="fa fa-cog fa-3x pull-left"></i>
                <h2>Assum virtute</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
                <a href="#" class="about_btn">More info</a></div>
            <div class="col-md-4 service_box"><i class="fa fa-shield fa-3x pull-left"></i>
                <h2>Mazim minimum</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
                <a href="#" class="about_btn">More info</a></div>
            <div class="col-md-4 service_box"><i class="fa fa-cloud-download fa-3x pull-left"></i>
                <h2>Legimus graecis</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
                <a href="#" class="about_btn">More info</a></div>
        </div>
        <div class="row">
            <div class="col-md-4 service_box"><i class="fa fa-flask fa-3x pull-left"></i>
                <h2>Modus altera</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
                <a href="#" class="about_btn">More info</a></div>
            <div class="col-md-4 service_box"><i class="fa fa-bar-chart fa-3x pull-left"></i>
                <h2>Melius eligendi</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
                <a href="#" class="about_btn">More info</a></div>
            <div class="col-md-4 service_box"><i class="fa fa-history fa-3x pull-left"></i>
                <h2>Augue invidunt</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
                <a href="#" class="about_btn">More info</a></div>
        </div>
    </div>

{% endblock %}


{% block dashboard %}
    <div class="main">
        <div class="container">
            <div class="content_white">
                <h2>Vel ad aliquid copiosae</h2>
                <p>No cum agam appareat vituperata ateum iusto paulo dignissim</p>
            </div>
            <div class="testimonial">
                <div class="row testimonial_top">
                    <div class="col-md-6">
                        <ul class="test_box">
                            <li class="test_img"><img src="{{ asset('theme/images/pic1.jpg') }}" class="img-responsive" alt=""/> </li>
                            <li class="test_desc">
                                <h4><a href="#">Impetus tincidunt</a></h4>
                                <p>Vel ad aliquid copiosae, cum id impetus tincidunt, solum option laoreet ei quo. No cum agam appareat vituperata ateum iusto paulo dignissim.</p>
                            </li>
                            <div class="clearfix"> </div>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="test_box">
                            <li class="test_img"><img src="{{ asset('theme/images/pic2.jpg') }}" class="img-responsive" alt=""/> </li>
                            <li class="test_desc">
                                <h4><a href="#">Paulo dignissim</a></h4>
                                <p>Vel ad aliquid copiosae, cum id impetus tincidunt, solum option laoreet ei quo. No cum agam appareat vituperata ateum iusto paulo dignissim.</p>
                            </li>
                            <div class="clearfix"> </div>
                        </ul>
                    </div>
                </div>
                <div class="row testimonial_bottom">
                    <div class="col-md-6">
                        <ul class="test_box">
                            <li class="test_img"><img src="{{ asset('theme/images/pic3.jpg') }}" class="img-responsive" alt=""/> </li>
                            <li class="test_desc">
                                <h4><a href="#">Vituperata ateum</a></h4>
                                <p>Vel ad aliquid copiosae, cum id impetus tincidunt, solum option laoreet ei quo. No cum agam appareat vituperata ateum iusto paulo dignissim.</p>
                            </li>
                            <div class="clearfix"> </div>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="test_box">
                            <li class="test_img"><img src="{{ asset('theme/images/pic4.jpg') }}" class="img-responsive" alt=""/> </li>
                            <li class="test_desc">
                                <h4><a href="#">Appareat vituperat</a></h4>
                                <p>Vel ad aliquid copiosae, cum id impetus tincidunt, solum option laoreet ei quo. No cum agam appareat vituperata ateum iusto paulo dignissim.</p>
                            </li>
                            <div class="clearfix"> </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}